<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
       <% include ./partials/navbar.ejs %>

       <% include ../static/partials/messages.ejs %>
      <!-- Page Content -->
      <main class="container">

      </h1>Do your charge task here</h1>

      </main>

    </body>
</html>
