<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
       <% include ./partials/navbar.ejs %>

       <% include ../static/partials/messages.ejs %>
      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Bloccipedia</h1>
          <p class="lead">An application for users to search information.</p>
            <% if(currentUser) { %>
              <button><a class="nav-link" href="/wikis">View Wikis!</a></button>
            <% } else { %>
              <button><a class="nav-link" href="/users/sign_up">Sign Up To View Wikis!</a></button>
                <% }%>
        </header>

      </main>

    </body>
</html>
